Source: psm
Maintainer: Bobby Powers <bobbypowers@gmail.com>
Section: misc
Priority: optional
Homepage: https://github.com/bpowers/psm
Vcs-Git: git://github.com/bpowers/psm.git
Vcs-Browser: https://github.com/bpowers/psm
Build-Depends: debhelper (>= 8), golang-go, asciidoc, xmlto
Standards-Version: 3.9.3

Package: psm
Architecture: any
Depends: ${misc:Depends},
Description: Simple, accurate RAM and swap usage
 psm is a command line tool that provides RAM and swap usage
 information.
